 <section id="viewhotelDetails">
    <h2>Details</h2>
    <div class="hotel-ticket">
        <div class="hotel-left">
            <img
                src="{{hotel.ImageUrl}}"
                alt="">
        </div>
        <div class="hotel-right">
            <div>
                <h3>{{hotel.Name}}</h3>
            </div>
            <div>
                {{hotel.City}}
            </div>
            <p><span>Free rooms: {{hotel.FreeRooms}}</span> </p>

            {{!-- <p><span class="green">You already have booked a room</span> </p> --}}

            <a href="/hotel/book/{{hotel._id}}" class="book">Book</a>
            <a href="/hotel/edit/{{hotel._id}}" class="edit">Edit</a>
            <a href="delete" class="remove">Delete</a>
        </div>

    </div>
</section>